.profile {
    margin: auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;

}

.profile__info {
    width: auto;
    row-gap: 7px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px 22px;
    grid-template-areas: 
        "title-edit "
        "discr      ";
    align-items: center;
}

.profile__container-title-edit {
    display: inline-flex;
    align-items: center;
}

.profile__title {
    color: #FFF;
    font-size: 42px;
    font-weight: 500;
    line-height: 114%;
    max-width: 373px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    grid-area: name;
    transition: font-size 0.3s;
}


.profile__description {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 415px;
}

.profile__edit-button {
    background-image: url("../images/edit-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin-left: 18px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__plus-button {
    background-image: url("../images/plus-ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    background-color: transparent;
    width: 150px;
    height: 50px;
    margin-left: auto;
    border: 2px solid white;
    border-radius: 2px;
    transition: width 0.3s;
    padding: 0;
}

.profile__plus-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 770px) {
    .profile__plus-button {
        width: 50px;
    }
    .profile__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 648px) {
    .profile {
        margin: auto;
        padding-top: 38px;
        flex-direction: column;
        align-items: center;
        max-width: 282px;
    }
    .profile__plus-button {
        width: 100%;
        margin: 36px 0 0 0;
    }
    .profile__image {
        margin: 0 0 27px 0;
    }

    .profile__info {
        justify-items: center;
        grid-template-columns: 282px;
        grid-template-rows: 27px 17px;
        row-gap: 14px;
    }
    .profile__title {
        max-width: 250px;
        font-size: 22px;
    }
    .profile__description {
        max-width: 282px;
        font-size: 14px;
    }
    .profile__edit-button {
        margin-left: 10px;
        height: 18px;
        width: 18px;
    } 
}