.page {
    background-color: black;
    color: white;
    font-family: 'Inter', Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page__content {
    margin: 45px auto 60px;
    max-width: 914px;
    min-width: 320px;
    padding: 0 17px;
    box-sizing: border-box;
}

@media screen and (max-width: 648px) {
    .page__content {
        max-width: 282px;
        margin: 28px auto 36px;
        padding: 0;
    }
}